<div class="results-block">
<%= render 'layouts/messages'%>
</div>
<% if @friends %>
  <div class="card-card-header results-block">
    <% @friends.each do |friend| %>
      <div class="card card-header results-block">
        <strong>Name:</strong> <%= friend.full_name %>
        <strong>Last Name:</strong> <%= friend.last_name %>
        <strong>Profile:</strong> 
        <%= link_to "View Profile", "#", class:"btn btn-sm btn-success" %>
        <%if current_user.not_friend_with?(friend.id) %>
          <%= link_to "Follow friend?", friendships_path(friend: friend), class:"btn btn-sm btn-success", method: :post %>
        <%else%>
          <span class="badge badge-scondary"> You are friends</span>
        <%end%>
      </div>
    <% end %>
  </div>
<% end %>
